.text-box {
  width: 500px;
}

.list-data {
  margin-left: 100px;
}

nav {
  background: linear-gradient(
    90deg,
    rgb(229, 229, 233) 0%,
    rgba(121, 138, 128, 1) 100%,
    rgba(237, 221, 83, 1) 100%
  );
}

.logo {
  height: 60px;
  border-radius: 20px;
}

.adidas-image {
  width: auto;
  height: 500px;
}

.search-bar {
  padding-top: 20px;
  margin-left: 100px;
}

.nav-link {
  color: #f2f2f2; /* Light gray text for a dark background */
  text-decoration: none; /* Remove default underline */
  padding: 14px 16px; /* Space around the text */
  font-size: 17px;
  font-family: cursive;
  transition:
    color 0.3s,
    background-color 0.3s; /* Smooth transitions */
}

.section-image {
  height: 400px;
  width: 300px;
}

.sport {
  text-decoration-line: underline;
  padding: 40px 0 0 80px;
}

body {
  background-color: rgb(226, 221, 221);
}
.section {
  display: flex;
}

.section-one {
  margin: 30px;
  padding: 50px;
}

.section-one:hover {
  border: 2px solid rgb(233, 200, 200);
  border-radius: 20px;
}

.card-section {
  display: flex;
  width: 100%;
  margin-left: 100px;
}

.card {
  margin: 40px;
  min-width: 300px;
}

.carousel-container {
  overflow-x: scroll; /* Allows horizontal scrolling */
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
